#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define L_ARWS 1
#define L_NUMS 2
#define L_RAISE 3
#define L_MOUSE 4
#define L_SCROLL 5

/ {
    macros {
        ZMK_MACRO(neq,

        wait-ms = <0>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp EXCL &kp EQUAL>;

        )
        ZMK_MACRO(

        arrow,
        wait-ms = <0>;
        tap-ms = <20>;
        bindings = <&macro_tap &kp MINUS &kp GT>;

        )
        ZMK_MACRO(

        shftab,
        wait-ms = <0>;
        tap-ms = <20>;
        bindings =
            <&macro_press &kp LSHFT>,
            <&macro_tap &kp TAB>,
            <&macro_release &kp LSHFT>;

        )
    };

    keymap {
        compatible = "zmk,keymap";

        /*
     * Base Layer: DEFAULT
     *
     * ,------,----------------------------------.                ,----------------------------------.------.
     * |  esc |   1  |   2  |   3  |   4  |   5  |                |   6  |   7  |   8  |   9  |   0  |   0  |
     * ,------,----------------------------------.                ,----------------------------------.------.
     * |  tab |   Q  |   W  |   E  |   R  |   T  |                |   Y  |   U  |   I  |   O  |   P  |   å  |
     * |------|------+------+------+------+------|                |------+------+------+------+------|------|
     * | caps |   A  |   S  |  D   |   F  |   G  |                |   H  |   J  |   K  |   L  |  ö   |  ä   |
     * |------|------+------+------+------+------|                |------+------+------+------+------|------|
     * |shift |   Z  |   X  |   C  |   V  |   B  |                |   N  |   M  | ,  < | . >  | /  ? | /  ? |
     * `------`-------------+------+------+------+                +------+------+------+-------------'------'
     *                      | alt  | ctrl | tab  |                | enter| esc  | del  |
     *                      |      |      | shift|                | NUMS | ARWS |      |
     *                      ----------------------                --------------'------'
     */

        default_layer {
            bindings = <
&kp NUMBER_1    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp N5       &kp NUMBER_6  &kp N7       &kp N8        &kp N9   &kp N0    &kp N0
&kp TAB         &kp Q         &kp W         &kp E         &kp R           &kp T        &kp Y         &kp U        &kp I         &kp O    &kp P     &kp A
&kp CAPSLOCK    &kp A         &kp S         &kp D         &kp F           &kp G        &kp H         &kp J        &kp K         &kp L    &kp A     &kp A
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C         &kp V           &kp B        &kp N         &kp M        &kp COMMA     &kp DOT  &kp FSLH  &kp ASTERISK
                                            &kp SPACE     &mt LSHIFT TAB  &kp SPACE    &kp BSPC      &lt 0 ENTER  &lt 0 DELETE
            >;
        };

        /*
     * Arrows
     *
     * ,----------------------------------.                ,----------------------------------.
     * |  `   |  =   |  +   |  ~   |  ->  |                | mleft| home |  end |mright|      |
     * |------+------+------+------+------|                |------+------+------+------+------|
     * |  |   |  _   |  -   |  \   |  !=  |                | left | down |  up  | right|      |
     * |------+------+------+------+------+                +------+------+------+------+------|
     * |  <   |  >   |  [   |  ]   |  {   |                |   }  | pgdn | pgup |SCROLL|      |
     * `-------------+------+------+------+------,  ,------+------+------+------+-------------'
     *        |      |      |      |      |      |  |      |      |      |      |      |
     *        `----------------------------------'  '--------------------'------'------'
     */
        /*
     * Numbers: numbers, specials
     * keep ,. for easy typing of numbers and IPs, keep backspace for obvious reasons
     * ,----------------------------------.                ,----------------------------------.
     * |   !  |   @  |   #  |   $  |   %  |                |   ^  |   &  |   *  |   (  |   )  |
     * |------+------+------+------+------|                |------+------+------+------+------|
     * |   1  |   2  |   3  |   4  |   5  |                |   6  |   7  |   8  |   9  |   0  |
     * |------+------+------+------+------+                +------+------+------+------+------|
     * |   /  |   -  |   =  |   +  |      |                |RAISE |   .  |      |      |      |
     * `-------------+------+------+------+------,  ,------+------+------+------+-------------'
     *        |      |      |      |      |      |  |      |      |      |      |      |
     *        `----------------------------------'  '--------------------'------'------'
     */
        /*
     * ,----------------------------------.                ,----------------------------------.
     * |  F1  |  F2  |  F3  |  F4  |      |                |      | BT P0|OUT BT|OUTUSB|      |
     * |------+------+------+------+------|                |------+------+------+------+------|
     * |  F5  |  F6  |  F7  |  F8  |      |                |      | BT P1|BT CLR|      |      |
     * |------+------+------+------+------|                |------+------+------+------+------|
     * |  F9  |  F10 |  F11 |  F12 |      |                |      | BT P2|RESET | BLDR |      |
     * `-------------+------+------+------+------,  ,------+------+------+------+-------------'
     *        |      |      |      |      |      |  |      |      |      |      |      |
     *        `----------------------------------'  '--------------------'------'------'
     */
        /*
     * ,----------------------------------.                ,----------------------------------.
     * |      |      |      |      |      |                |      |mleft |mright|scroll|      |
     * |------+------+------+------+------|                |------+------+------+------+------|
     * |      |      |      |      |      |                |      |      |      |      |      |
     * |------+------+------+------+------|                |------+------+------+------+------|
     * |      |      |      |      |      |                |      |      |      |      |      |
     * `-------------+------+------+------+------,  ,------+------+------+------+-------------'
     *        |      |      |      |      |      |  |      |      |      |      |      |
     *        `----------------------------------'  '--------------------'------'------'
     */
    };
};
