#include <behaviors.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors.dtsi>
#include <behaviors/mouse_key_press.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/mouse_move.dtsi>

#define DEFAULT 0


/ {
     move_vert: move_vert {
        compatible = "zmk,behavior-mouse-move";
        label = "MOVE_VERT";
        #sensor-binding-cells = <0>;
        delay-ms = <0>;
        time-to-max-speed-ms = <500>;
        acceleration-exponent = <1>;
    };

    move_horiz: move_horiz {
        compatible = "zmk,behavior-mouse-move";
        label = "MOVE_HORIZ";
        #sensor-binding-cells = <0>;
        delay-ms = <0>;
        time-to-max-speed-ms = <500>;
        acceleration-exponent = <1>;
    };

    keymap {
        compatible = "zmk,keymap";

        /*
     * Base Layer: DEFAULT
     *
     * ,------,----------------------------------.                ,----------------------------------.------.
     * |  esc |   1  |   2  |   3  |   4  |   5  |                |   6  |   7  |   8  |   9  |   0  |   0  |
     * ,------,----------------------------------.                ,----------------------------------.------.
     * |  tab |   Q  |   W  |   E  |   R  |   T  |                |   Y  |   U  |   I  |   O  |   P  |   å  |
     * |------|------+------+------+------+------|                |------+------+------+------+------|------|
     * | caps |   A  |   S  |  D   |   F  |   G  |                |   H  |   J  |   K  |   L  |  ö   |  ä   |
     * |------|------+------+------+------+------|                |------+------+------+------+------|------|
     * |shift |   Z  |   X  |   C  |   V  |   B  |                |   N  |   M  | ,  < | . >  | /  ? | /  ? |
     * `------`-------------+------+------+------+                +------+------+------+-------------'------'
     *                      | alt  | ctrl | tab  |                | enter| esc  | del  |
     *                      |      |      | shift|                | NUMS | ARWS |      |
     *                      ----------------------                --------------'------'
     */

        default_layer {
            bindings = <
&kp NUMBER_1    &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4    &kp N5       &kp NUMBER_6  &kp N7       &kp N8        &kp N9   &kp N0    &kp N0
&kp TAB         &kp Q         &kp W         &kp E         &kp R           &kp T        &kp Y         &kp U        &kp I         &kp O    &kp P     &kp B
&kp CAPSLOCK    &kp A         &kp S         &kp D         &kp F           &kp G        &kp H         &kp J        &kp K         &kp L    &mkp MCLK &mkp RCLK
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C         &kp V           &kp B        &kp N         &kp M        &kp COMMA     &kp DOT  &kp FSLH  &kp ASTERISK
&trans          &trans        &trans        &kp SPACE     &mt LSHIFT TAB  &kp SPACE    &kp BSPC      &lt 0 ENTER  &lt 0 DELETE  &trans   &trans    &trans
            >;
        };

  
    };
};
